fastapi
sentence-transformers
redis==4.5.5
slowapi
uvicorn
gitpython
python-multipart
flask
gunicorn                                                                                                                                                   requests
python-dotenv
openai
transformers
torch
flask-limiter
